@import './quasar.variables.sass'
@import '~quasar-styl'

@font-face
  font-family: m-bold
  src: url(../assets/fonts/Montserrat/Montserrat-Bold.ttf)

@font-face
  font-family: m-medium
  src: url(../assets/fonts/Montserrat/Montserrat-Medium.ttf)

@font-face
  font-family: m-light
  src: url(../assets/fonts/Montserrat/Montserrat-Light.ttf)


// declare a class which applies it
.font-m-bold
  font-family: 'm-bold'

.font-m-medium
  font-family: 'm-medium'

.font-m-light
  font-family: 'm-light'

.q-btn
  border-radius: 12px

.q-btn-group--rounded
  border-radius: 12px
